---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// base variables
$base-font-family: 'Allan',helvetica,Helvetica, Rockwell,cursive;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$content-font: Georgia, 'Allan', Helvetica, Rockwell,cursive;

$spacing-unit:     30px;

$main-background: url("../images/bg-1.jpg") repeat scroll 0 0;

$shadow-sm: 0px 2px 8px 0px rgba(0,0,0,0.3);
$shadow-lg: 0px 8px 16px 0px rgba(0,0,0,0.6);
$shadow-text: 1px 2px 3px rgba(0,0,0,0.3);
 
// header varibles
$title-background: url("../images/body-home.png") repeat scroll 0 0;
$titleh-sm: 60px; 
$titleh-lg: 76px;
$title-padding-sm: 3%;
$title-padding-lg: 7%;
$content-padding-sm: 3%;
$content-padding-lg: 8%;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #111;

$link-color: #79283F; //??

// campus color scheme varibles
$c-grey: #5E5E65;
$c-light-grey: lighten($c-grey,45%);
$c-blue: #789AA1;
$c-black: black;
$c-white: white;
$white-back: #fff; // #FEFEFA #fbf6d9 #f9edd3 #fbf9e0

$grey-color-light: lighten($c-grey, 40%);
$grey-color-dark:  darken($c-grey, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$mediumscreen:     740px; //600px
$largescreen:      1024px; //820px

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "campusheader",
    "jumpyear",
    "allcollections",
    "campuscontent",
    "years",
    "campusfooter",
    "end"
;
