<div class="yearsmenu hide-small">
	
		<div id="openyears"><a>Jump to a Collection</a></div>
		
		<div id="yearsnav" class="years">	
			
			<div class="yearstitle">	

				<a id="closeyears" class="yearbutton">Close X</a>

				<h3>Choose a Collection</h3>
				
			</div>
								
				<ul class="decade">
					<li><a href="{{site.baseurl}}/collections/uinews.html">UI News</a></li>	
					<li><a href="{{site.baseurl}}/years/libweb.html">Library Web</a></li>
					<li><a href="{{site.baseurl}}/years/libweb.html">Friday Letter</a></li>
					<li><a href="{{site.baseurl}}/years/libweb.html">President</a></li>
					<li><a href="{{site.baseurl}}/years/libweb.html">Provost</a></li>
				</ul>
				
				<ul class="decade">
					<li><a href="{{site.baseurl}}/years/argonaut2010.html">2010</a></li>
					<li><a href="https://issuu.com/uiargonaut" class="yearsbutton">More recent:Argonaut on Issuu »</a></li>
					<li><a href="http://www.uidaho.edu/" class="yearsbutton">Today: Current UIdaho website »</a></li>
				</ul>
		</div>

</div>
