<script>

    // open/toggle small nav
    function navOpen() {
        document.getElementById("navdropdown").classList.toggle("show");
    }
    // open/toggle jump years
    function yearsToggle() {
        document.getElementById("yearsnav").classList.toggle("show");
    }
    // all collections dropdown
    function showCollections() {
        document.getElementById("collectionlist").style.top ="0px";
    }
    // all collections close
    function closeAll() {
        document.getElementById("collectionlist").style.top ="-3000px";
    }
    // new all collections toggle
    function collectionsToggle() {
        document.getElementById("collectionsnav").classList.toggle("show");
    }
    
    // add onclick functions to the elements, old school way = easy cross-browser compatibility 
    
    // document.getElementById("opencollections").onclick = function () { showCollections(); };
    document.getElementById("opencollections").onclick = function () { collectionsToggle(); };
    // document.getElementById("closecollections").onclick = function () { closeAll(); };
    document.getElementById("closecollections").onclick = function () { collectionsToggle(); };
    document.getElementById("navopen").onclick = function () { navOpen(); };
    document.getElementById("openyears").onclick = function () { yearsToggle(); };
    document.getElementById("closeyears").onclick = function() { yearsToggle(); };
    
</script>
