<!DOCTYPE html>
<html>

  {% include head.html %}
  </head>
  <body>
{% include collectionspull.html %}
    {% include collectionheader.html %}

    <div class="page-content">
      <div class="wrapper">
    
    <table id="librarystaff" class="display" cellspacing="0" width="100%">
      <thead>
         <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Links</th>
         </tr>
      </thead>
      <tfoot>
         <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Links</th>
         </tr>
      </tfoot>
     
        {% for item in site.data.[page.Path] %}
         <tr >
           <td class="title"><a target="_blank" href="http://digital.lib.uidaho.edu/cdm/ref/collection/{{page.CDMID}}/id/{{item.cdmid}}">{{item.Title}}</a></td>
         <td class="group"> {{item.Description}}
         </td>
                   <td class="links"><a href="/special-collections/dayfindingaids.html">
                <img src="http://digital.lib.uidaho.edu/utils/getthumbnail/collection/{{page.CDMID}}/id/{{item.cdmid}}" ></a></a></td>
               </tr>
                {% endfor %}
</table>
      
      <!--  <div class="searchFunctions" style="width:60%; float:left;">

<input type="button" value="Reset Table" onclick="javascript:resetTable(document.getElementById('team2'), document.getElementById('team3'))" id="resettable"/>

<label class="labelsearch">Search the Database: </label> 
<br />
<select id="searchMenu" style="display:inline;">
<option value="Search" selected="selected">Keyword</option>


</select>
<form name="searchForm" style="display:inline;">
<input type="search" id="search" value='' style="display:inline;" />  
<input type="submit"  onclick="javascript: searchTable(document.getElementById('search').value, document.getElementById('searchMenu')); return false;" value="Search" class="input"  style="display:inline;"/>
</form>
</div>
<div class="browseFunctions" style="float:right;" >



<label class="label" >Browse By Subject:</label>
<select id="team2" onchange="drawTable();">
<option style="font style:italic;" value="">Select a Subject ...</option>    
   

						
					</select>
					
			
				</div>
				<div style="clear: both"></div>
        	<div id="visualization" style="height:700px;width:100%;"></div>
      </div>
    </div>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="{{site.baseurl}}/js/fusion_dbs/{{ page.Path}}.js"></script>-->

<script src="{{site.baseurl}}/js/datatables.js"></script>
<script>
$(document).ready(function() {

    $('#librarystaff').dataTable( {
		        "lengthMenu": [[ 25,50,100, 250,-1], [ 25,50,100, 250, "All"]]
		       } );
} );</script>


    {% include footer.html %}

